name: Trigger OCM Version Update
on:
  workflow_call:

jobs:
  trigger-ocm-version-update:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
         app-id: "1415820"
         private-key: ${{ secrets.PM_PUBLISHER_PRIVATE_KEY }}
         owner: ${{ github.repository_owner }}
         repositories: |
           ocm
      - run: gh workflow run ocm.yaml --repo platform-mesh/ocm
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
