name: Check Helm Chart Docs
on:
  workflow_call:
    inputs:
      chartFolder:
        description: 'The folder where the helm chart is located'
        required: true
        default: ''
        type: string
      headerFile:
        description: 'The header file to use for the helm-docs'
        required: false
        default: '../../docs-templates/header.md.gotmpl'
        type: string
      footerFile:
        description: 'The footer file to use for the helm-docs'
        required: false
        default: '../../docs-templates/footer.md.gotmpl'
        type: string

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.44.1
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Test task
        run: task docs
      - run: git diff --exit-code